alsa-lib-1.0.21/Makefile
alsa-lib-1.0.21/alsalisp/.deps/
alsa-lib-1.0.21/alsalisp/Makefile
alsa-lib-1.0.21/aserver/.deps/
alsa-lib-1.0.21/aserver/Makefile
alsa-lib-1.0.21/config.status
alsa-lib-1.0.21/doc/Makefile
alsa-lib-1.0.21/doc/doxygen.cfg
alsa-lib-1.0.21/doc/pictures/Makefile
alsa-lib-1.0.21/include/Makefile
alsa-lib-1.0.21/include/alsa
alsa-lib-1.0.21/include/asoundlib.h
alsa-lib-1.0.21/include/config.h
alsa-lib-1.0.21/include/sound/Makefile
alsa-lib-1.0.21/include/stamp-h1
alsa-lib-1.0.21/libtool
alsa-lib-1.0.21/modules/Makefile
alsa-lib-1.0.21/modules/mixer/Makefile
alsa-lib-1.0.21/modules/mixer/simple/.deps/
alsa-lib-1.0.21/modules/mixer/simple/Makefile
alsa-lib-1.0.21/src/.deps/
alsa-lib-1.0.21/src/Makefile
alsa-lib-1.0.21/src/Versions
alsa-lib-1.0.21/src/alisp/.deps/
alsa-lib-1.0.21/src/alisp/Makefile
alsa-lib-1.0.21/src/compat/.deps/
alsa-lib-1.0.21/src/compat/Makefile
alsa-lib-1.0.21/src/conf/Makefile
alsa-lib-1.0.21/src/conf/cards/Makefile
alsa-lib-1.0.21/src/conf/pcm/Makefile
alsa-lib-1.0.21/src/control/.deps/
alsa-lib-1.0.21/src/control/Makefile
alsa-lib-1.0.21/src/hwdep/.deps/
alsa-lib-1.0.21/src/hwdep/Makefile
alsa-lib-1.0.21/src/mixer/.deps/
alsa-lib-1.0.21/src/mixer/Makefile
alsa-lib-1.0.21/src/pcm/.deps/
alsa-lib-1.0.21/src/pcm/Makefile
alsa-lib-1.0.21/src/pcm/scopes/.deps/
alsa-lib-1.0.21/src/pcm/scopes/Makefile
alsa-lib-1.0.21/src/rawmidi/.deps/
alsa-lib-1.0.21/src/rawmidi/Makefile
alsa-lib-1.0.21/src/seq/.deps/
alsa-lib-1.0.21/src/seq/Makefile
alsa-lib-1.0.21/src/timer/.deps/
alsa-lib-1.0.21/src/timer/Makefile
alsa-lib-1.0.21/test/.deps/
alsa-lib-1.0.21/test/Makefile
alsa-lib-1.0.21/test/lsb/.deps/
alsa-lib-1.0.21/test/lsb/Makefile
alsa-lib-1.0.21/utils/Makefile
alsa-lib-1.0.21/utils/alsa-lib.spec
alsa-lib-1.0.21/utils/alsa.pc
antlr3/.deps/
antlr3/.libs/
antlr3/Makefile
antlr3/antlr3baserecognizer.lo
antlr3/antlr3baserecognizer.o
antlr3/antlr3basetree.lo
antlr3/antlr3basetree.o
antlr3/antlr3basetreeadaptor.lo
antlr3/antlr3basetreeadaptor.o
antlr3/antlr3bitset.lo
antlr3/antlr3bitset.o
antlr3/antlr3collections.lo
antlr3/antlr3collections.o
antlr3/antlr3commontoken.lo
antlr3/antlr3commontoken.o
antlr3/antlr3commontree.lo
antlr3/antlr3commontree.o
antlr3/antlr3commontreeadaptor.lo
antlr3/antlr3commontreeadaptor.o
antlr3/antlr3commontreenodestream.lo
antlr3/antlr3commontreenodestream.o
antlr3/antlr3config.h
antlr3/antlr3convertutf.lo
antlr3/antlr3convertutf.o
antlr3/antlr3cyclicdfa.lo
antlr3/antlr3cyclicdfa.o
antlr3/antlr3debughandlers.lo
antlr3/antlr3debughandlers.o
antlr3/antlr3encodings.lo
antlr3/antlr3encodings.o
antlr3/antlr3exception.lo
antlr3/antlr3exception.o
antlr3/antlr3filestream.lo
antlr3/antlr3filestream.o
antlr3/antlr3inputstream.lo
antlr3/antlr3inputstream.o
antlr3/antlr3intstream.lo
antlr3/antlr3intstream.o
antlr3/antlr3lexer.lo
antlr3/antlr3lexer.o
antlr3/antlr3parser.lo
antlr3/antlr3parser.o
antlr3/antlr3rewritestreams.lo
antlr3/antlr3rewritestreams.o
antlr3/antlr3string.lo
antlr3/antlr3string.o
antlr3/antlr3tokenstream.lo
antlr3/antlr3tokenstream.o
antlr3/antlr3treeparser.lo
antlr3/antlr3treeparser.o
antlr3/config.status
antlr3/libantlr3c.la
antlr3/libtool
antlr3/stamp-h1
belle-sip/src/generated_src_stamp
bellesip_sal/src/offeranswer.o
bellesip_sal/src/sal.o
bellesip_sal/src/sal_address_impl.o
bellesip_sal/src/sal_impl.o
bellesip_sal/src/sal_op_call.o
bellesip_sal/src/sal_op_call_transfer.o
bellesip_sal/src/sal_op_events.o
bellesip_sal/src/sal_op_impl.o
bellesip_sal/src/sal_op_info.o
bellesip_sal/src/sal_op_message.o
bellesip_sal/src/sal_op_presence.o
bellesip_sal/src/sal_op_publish.o
bellesip_sal/src/sal_op_registration.o
bellesip_sal/src/sal_pres.o
bellesip_sal/src/sal_sdp.o
ffmpeg-build/Makefile
ffmpeg-build/cmdutils.d
ffmpeg-build/cmdutils.o
ffmpeg-build/config.fate
ffmpeg-build/config.h
ffmpeg-build/config.mak
ffmpeg-build/doc/
ffmpeg-build/ffmpeg
ffmpeg-build/ffmpeg.d
ffmpeg-build/ffmpeg.o
ffmpeg-build/ffmpeg_filter.d
ffmpeg-build/ffmpeg_filter.o
ffmpeg-build/ffmpeg_g
ffmpeg-build/ffmpeg_opt.d
ffmpeg-build/ffmpeg_opt.o
ffmpeg-build/ffprobe
ffmpeg-build/ffprobe.d
ffmpeg-build/ffprobe.o
ffmpeg-build/ffprobe_g
ffmpeg-build/libavcodec/
ffmpeg-build/libavdevice/
ffmpeg-build/libavfilter/
ffmpeg-build/libavformat/
ffmpeg-build/libavutil/
ffmpeg-build/libpostproc/
ffmpeg-build/libswresample/
ffmpeg-build/libswscale/
ffmpeg-build/version.h
libogg-1.3.1/Makefile
libogg-1.3.1/a.out
libogg-1.3.1/config.h
libogg-1.3.1/config.status
libogg-1.3.1/doc/Makefile
libogg-1.3.1/doc/libogg/Makefile
libogg-1.3.1/include/Makefile
libogg-1.3.1/include/ogg/Makefile
libogg-1.3.1/include/ogg/config_types.h
libogg-1.3.1/libogg.spec
libogg-1.3.1/libtool
libogg-1.3.1/ogg-uninstalled.pc
libogg-1.3.1/ogg.pc
libogg-1.3.1/src/.deps/
libogg-1.3.1/src/.libs/
libogg-1.3.1/src/Makefile
libogg-1.3.1/src/bitwise.lo
libogg-1.3.1/src/bitwise.o
libogg-1.3.1/src/framing.lo
libogg-1.3.1/src/framing.o
libogg-1.3.1/src/libogg.la
libogg-1.3.1/src/test_bitwise
libogg-1.3.1/src/test_bitwise-bitwise.o
libogg-1.3.1/src/test_framing
libogg-1.3.1/src/test_framing-framing.o
libogg-1.3.1/stamp-h1
mediastreamer2/Makefile
mediastreamer2/build/Makefile
mediastreamer2/build/win32-novideo/Makefile
mediastreamer2/build/win32native/Makefile
mediastreamer2/build/win32native/mediastream/Makefile
mediastreamer2/build/wince/Makefile
mediastreamer2/build/winmob/Makefile
mediastreamer2/config.status
mediastreamer2/help/Doxyfile
mediastreamer2/help/Makefile
mediastreamer2/include/Makefile
mediastreamer2/include/mediastreamer2/Makefile
mediastreamer2/libtool
mediastreamer2/m4/Makefile
mediastreamer2/mediastreamer-config.h
mediastreamer2/mediastreamer.pc
mediastreamer2/mediastreamer2.spec
mediastreamer2/po/Makefile
mediastreamer2/po/Makefile.in
mediastreamer2/po/POTFILES
mediastreamer2/po/cs.gmo
mediastreamer2/po/de.gmo
mediastreamer2/po/es.gmo
mediastreamer2/po/fr.gmo
mediastreamer2/po/hu.gmo
mediastreamer2/po/it.gmo
mediastreamer2/po/ja.gmo
mediastreamer2/po/nl.gmo
mediastreamer2/po/pl.gmo
mediastreamer2/po/pt_BR.gmo
mediastreamer2/po/ru.gmo
mediastreamer2/po/stamp-it
mediastreamer2/po/sv.gmo
mediastreamer2/po/zh_CN.gmo
mediastreamer2/src/.deps/
mediastreamer2/src/.libs/
mediastreamer2/src/Makefile
mediastreamer2/src/audiofilters/.deps/
mediastreamer2/src/audiofilters/.dirstamp
mediastreamer2/src/audiofilters/.libs/
mediastreamer2/src/audiofilters/alaw.lo
mediastreamer2/src/audiofilters/alsa.lo
mediastreamer2/src/audiofilters/audiomixer.lo
mediastreamer2/src/audiofilters/chanadapt.lo
mediastreamer2/src/audiofilters/dtmfgen.lo
mediastreamer2/src/audiofilters/equalizer.lo
mediastreamer2/src/audiofilters/genericplc.lo
mediastreamer2/src/audiofilters/l16.lo
mediastreamer2/src/audiofilters/msconf.lo
mediastreamer2/src/audiofilters/msfileplayer.lo
mediastreamer2/src/audiofilters/msfilerec.lo
mediastreamer2/src/audiofilters/msg722.lo
mediastreamer2/src/audiofilters/msresample.lo
mediastreamer2/src/audiofilters/msspeex.lo
mediastreamer2/src/audiofilters/msvolume.lo
mediastreamer2/src/audiofilters/oss.lo
mediastreamer2/src/audiofilters/speexec.lo
mediastreamer2/src/audiofilters/tonedetector.lo
mediastreamer2/src/audiofilters/ulaw.lo
mediastreamer2/src/base/.deps/
mediastreamer2/src/base/.dirstamp
mediastreamer2/src/base/.libs/
mediastreamer2/src/base/eventqueue.lo
mediastreamer2/src/base/mscommon.lo
mediastreamer2/src/base/msfilter.lo
mediastreamer2/src/base/msqueue.lo
mediastreamer2/src/base/mssndcard.lo
mediastreamer2/src/base/msticker.lo
mediastreamer2/src/base/mswebcam.lo
mediastreamer2/src/base/mtu.lo
mediastreamer2/src/basedescs.h
mediastreamer2/src/basedescs.txt
mediastreamer2/src/gitversion.h
mediastreamer2/src/libmediastreamer_base.la
mediastreamer2/src/libmediastreamer_voip.la
mediastreamer2/src/ortp-deps/.deps/
mediastreamer2/src/otherfilters/.deps/
mediastreamer2/src/otherfilters/.dirstamp
mediastreamer2/src/otherfilters/.libs/
mediastreamer2/src/otherfilters/itc.lo
mediastreamer2/src/otherfilters/join.lo
mediastreamer2/src/otherfilters/msrtp.lo
mediastreamer2/src/otherfilters/tee.lo
mediastreamer2/src/otherfilters/void.lo
mediastreamer2/src/upnp/.deps/
mediastreamer2/src/utils/.deps/
mediastreamer2/src/utils/.dirstamp
mediastreamer2/src/utils/.libs/
mediastreamer2/src/utils/dsptools.lo
mediastreamer2/src/utils/g722_decode.lo
mediastreamer2/src/utils/g722_encode.lo
mediastreamer2/src/utils/kiss_fft.lo
mediastreamer2/src/utils/kiss_fftr.lo
mediastreamer2/src/videofilters/.deps/
mediastreamer2/src/voip/.deps/
mediastreamer2/src/voip/.dirstamp
mediastreamer2/src/voip/.libs/
mediastreamer2/src/voip/audioconference.lo
mediastreamer2/src/voip/audiostream.lo
mediastreamer2/src/voip/bitratecontrol.lo
mediastreamer2/src/voip/bitratedriver.lo
mediastreamer2/src/voip/ice.lo
mediastreamer2/src/voip/mediastream.lo
mediastreamer2/src/voip/msvoip.lo
mediastreamer2/src/voip/qosanalyzer.lo
mediastreamer2/src/voip/qualityindicator.lo
mediastreamer2/src/voip/ringstream.lo
mediastreamer2/src/voipdescs.h
mediastreamer2/src/voipdescs.txt
mediastreamer2/src/yuv2rgb.fs.h
mediastreamer2/src/yuv2rgb.vs.h
mediastreamer2/stamp-h1
mediastreamer2/tester/.deps/
mediastreamer2/tester/Makefile
mediastreamer2/tools/.deps/
mediastreamer2/tools/.libs/
mediastreamer2/tools/Makefile
mediastreamer2/tools/bench
mediastreamer2/tools/bench.o
mediastreamer2/tools/echo
mediastreamer2/tools/echo.o
mediastreamer2/tools/mediastream
mediastreamer2/tools/mediastream.o
mediastreamer2/tools/mtudiscover
mediastreamer2/tools/mtudiscover.o
mediastreamer2/tools/ring
mediastreamer2/tools/ring.o
mediastreamer2/tools/tones
mediastreamer2/tools/tones.o
oRTP/Makefile
oRTP/build/Makefile
oRTP/build/win32native/Makefile
oRTP/build/wince/Makefile
oRTP/build/winmob/Makefile
oRTP/config.status
oRTP/include/Makefile
oRTP/include/ortp/Makefile
oRTP/libtool
oRTP/m4/Makefile
oRTP/ortp-config.h
oRTP/ortp.defs
oRTP/ortp.doxygen
oRTP/ortp.pc
oRTP/ortp.spec
oRTP/src/.deps/
oRTP/src/.libs/
oRTP/src/Makefile
oRTP/src/avprofile.lo
oRTP/src/b64.lo
oRTP/src/event.lo
oRTP/src/jitterctl.lo
oRTP/src/libortp.la
oRTP/src/logging.lo
oRTP/src/netsim.lo
oRTP/src/ortp.lo
oRTP/src/ortp_srtp.lo
oRTP/src/payloadtype.lo
oRTP/src/port.lo
oRTP/src/posixtimer.lo
oRTP/src/rtcp.lo
oRTP/src/rtcpparse.lo
oRTP/src/rtpparse.lo
oRTP/src/rtpprofile.lo
oRTP/src/rtpsession.lo
oRTP/src/rtpsession_inet.lo
oRTP/src/rtpsignaltable.lo
oRTP/src/rtptimer.lo
oRTP/src/scheduler.lo
oRTP/src/sessionset.lo
oRTP/src/str_utils.lo
oRTP/src/stun.lo
oRTP/src/stun_udp.lo
oRTP/src/telephonyevents.lo
oRTP/src/tests/.deps/
oRTP/src/tests/Makefile
oRTP/src/tests/win_receiver/Makefile
oRTP/src/tests/win_sender/Makefile
oRTP/src/utils.lo
oRTP/src/zrtp.lo
oRTP/stamp-h1
sipvg/SipVoiceService.o
sipvg/audio_stream.o
sipvg/call_session.o
sipvg/callbacks.o
sipvg/channelsys.o
sipvg/main.o
sipvg/mschannel.o
sipvg/sipvg
sipvg/test_audio.o
speex-1.2rc1/Makefile
speex-1.2rc1/Speex.spec
speex-1.2rc1/config.h
speex-1.2rc1/config.status
speex-1.2rc1/doc/Makefile
speex-1.2rc1/include/Makefile
speex-1.2rc1/include/speex/Makefile
speex-1.2rc1/include/speex/speex_config_types.h
speex-1.2rc1/libspeex/.deps/
speex-1.2rc1/libspeex/.libs/
speex-1.2rc1/libspeex/Makefile
speex-1.2rc1/libspeex/bits.lo
speex-1.2rc1/libspeex/buffer.lo
speex-1.2rc1/libspeex/cb_search.lo
speex-1.2rc1/libspeex/exc_10_16_table.lo
speex-1.2rc1/libspeex/exc_10_32_table.lo
speex-1.2rc1/libspeex/exc_20_32_table.lo
speex-1.2rc1/libspeex/exc_5_256_table.lo
speex-1.2rc1/libspeex/exc_5_64_table.lo
speex-1.2rc1/libspeex/exc_8_128_table.lo
speex-1.2rc1/libspeex/fftwrap.lo
speex-1.2rc1/libspeex/filterbank.lo
speex-1.2rc1/libspeex/filters.lo
speex-1.2rc1/libspeex/gain_table.lo
speex-1.2rc1/libspeex/gain_table_lbr.lo
speex-1.2rc1/libspeex/hexc_10_32_table.lo
speex-1.2rc1/libspeex/hexc_table.lo
speex-1.2rc1/libspeex/high_lsp_tables.lo
speex-1.2rc1/libspeex/jitter.lo
speex-1.2rc1/libspeex/kiss_fft.lo
speex-1.2rc1/libspeex/kiss_fftr.lo
speex-1.2rc1/libspeex/libspeex.la
speex-1.2rc1/libspeex/libspeexdsp.la
speex-1.2rc1/libspeex/lpc.lo
speex-1.2rc1/libspeex/lsp.lo
speex-1.2rc1/libspeex/lsp_tables_nb.lo
speex-1.2rc1/libspeex/ltp.lo
speex-1.2rc1/libspeex/mdf.lo
speex-1.2rc1/libspeex/modes.lo
speex-1.2rc1/libspeex/modes_wb.lo
speex-1.2rc1/libspeex/nb_celp.lo
speex-1.2rc1/libspeex/preprocess.lo
speex-1.2rc1/libspeex/quant_lsp.lo
speex-1.2rc1/libspeex/resample.lo
speex-1.2rc1/libspeex/sb_celp.lo
speex-1.2rc1/libspeex/scal.lo
speex-1.2rc1/libspeex/speex.lo
speex-1.2rc1/libspeex/speex_callbacks.lo
speex-1.2rc1/libspeex/speex_header.lo
speex-1.2rc1/libspeex/stereo.lo
speex-1.2rc1/libspeex/testdenoise
speex-1.2rc1/libspeex/testdenoise.o
speex-1.2rc1/libspeex/testecho
speex-1.2rc1/libspeex/testecho.o
speex-1.2rc1/libspeex/testenc
speex-1.2rc1/libspeex/testenc.o
speex-1.2rc1/libspeex/testenc_uwb
speex-1.2rc1/libspeex/testenc_uwb.o
speex-1.2rc1/libspeex/testenc_wb
speex-1.2rc1/libspeex/testenc_wb.o
speex-1.2rc1/libspeex/testjitter
speex-1.2rc1/libspeex/testjitter.o
speex-1.2rc1/libspeex/vbr.lo
speex-1.2rc1/libspeex/vq.lo
speex-1.2rc1/libspeex/window.lo
speex-1.2rc1/libtool
speex-1.2rc1/speex.pc
speex-1.2rc1/speexdsp.pc
speex-1.2rc1/src/.deps/
speex-1.2rc1/src/.libs/
speex-1.2rc1/src/Makefile
speex-1.2rc1/src/skeleton.o
speex-1.2rc1/src/speexdec
speex-1.2rc1/src/speexdec.o
speex-1.2rc1/src/speexenc
speex-1.2rc1/src/speexenc.o
speex-1.2rc1/src/wav_io.o
speex-1.2rc1/stamp-h1
speex-1.2rc1/symbian/Makefile
speex-1.2rc1/ti/Makefile
speex-1.2rc1/ti/speex_C54_test/Makefile
speex-1.2rc1/ti/speex_C55_test/Makefile
speex-1.2rc1/ti/speex_C64_test/Makefile
speex-1.2rc1/win32/Makefile
speex-1.2rc1/win32/VS2003/Makefile
speex-1.2rc1/win32/VS2003/libspeex/Makefile
speex-1.2rc1/win32/VS2003/libspeexdsp/Makefile
speex-1.2rc1/win32/VS2003/speexdec/Makefile
speex-1.2rc1/win32/VS2003/speexenc/Makefile
speex-1.2rc1/win32/VS2003/tests/Makefile
speex-1.2rc1/win32/VS2005/Makefile
speex-1.2rc1/win32/VS2005/libspeex/Makefile
speex-1.2rc1/win32/VS2005/libspeexdsp/Makefile
speex-1.2rc1/win32/VS2005/speexdec/Makefile
speex-1.2rc1/win32/VS2005/speexenc/Makefile
speex-1.2rc1/win32/VS2005/tests/Makefile
speex-1.2rc1/win32/VS2008/Makefile
speex-1.2rc1/win32/VS2008/libspeex/Makefile
speex-1.2rc1/win32/VS2008/libspeexdsp/Makefile
speex-1.2rc1/win32/VS2008/speexdec/Makefile
speex-1.2rc1/win32/VS2008/speexenc/Makefile
speex-1.2rc1/win32/VS2008/tests/Makefile
speex-1.2rc1/win32/libspeex/Makefile
speex-1.2rc1/win32/speexdec/Makefile
speex-1.2rc1/win32/speexenc/Makefile

